html,
body {
  padding: 0;
  margin: 0;
  font-family: "Soleil", Helvetica, Arial, sans-serif;

}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
@media screen and (max-width: 44em) {
  .nav-small{
    display: block
  }
  .navbar{
    display: none
  }
}